@import"fuentes";
@import"generales";
@import"index";
@import"parrafo";



footer{
  padding: 3em;
background-color:rgb(19, 109, 23);
margin-bottom: 0;
margin-top: 1.5em;
}

header{
  grid-area: header;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
}

h1{
  grid-area: h1;
}

.mosaico{
  grid-area: mosaico;
}

.araza{
  grid-area: araza;
}

.lavandas{
  grid-area: lavandas;
}

.ciboulette{
  grid-area: ciboulette;
}

.breveintro{
  grid-area: breveintro;
}

.video{
  grid-area: video;
}

.envolturita{
background-color: rgb(29, 105, 52);
margin-bottom: 1,5em;
display: grid;
gap: 20px;
grid-template-areas: 
"header"
"main"
"footer";
}

img{
  width: 300px;
  height: 250px;
  border: 8px;
  align-items: center;
}



.video{
  width: 200px;
  height: 150px;
  border: 8px;
  align-items: center;
  margin: 10px, 20px, 10px, 20px;
}

.medio{
  background-color: rgb(29, 90, 9);
  display: grid;
  grid-template-areas: 
"h1"
"mosaico"
"araza"
"lavandas"
"ciboulette"
"breveintro"
"video";
}

@media(min-width:500px){
  .envolturita{
    background-color: rgb(22, 71, 10);
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
  }
  nav ul{
    display: flex;
    justify-content: space-between;
  }
  nav ul .breveintro{
    color: grey;
    border: 3px solid green;
  }
  img{
    width: 350px;
    height: 300px;
  } }
  footer{
    margin-top: 0%;
  }

@media(min-width:768px){
  .medio{
    background-color: rgb(29, 90, 9);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
  "h1 h1"
  "mosaico araza"
  "lavandas ciboulette"
  "breveintro breveintro";
  }
  
  img{
    border: 5px solid black;
    align-items: center
  }
}
